data
* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

:root{
    --primary-color: #ffff;
    --secondary-color: #212121;
}

h1 {
    text-transform: uppercase;
    color: #ff4646;
}

table {
    border: 1px solid #ddeeee;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin: 10px auto 10px auto;
}

table thead th {
    background-color: #ff4646;
    border: 1.5px solid var(--secondary-color);
    color: #ffffff;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px whitesmoke;
}

table tbody td {
    border: 1.5px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px;
}

a {
    background-color: #ff4646;
    color: #ffff;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid;   
}

/* tambah data */
label {
    margin-top: 10px;
    float: left;
    text-align: left;
    width: 100%;
}

.base {
    width: 400px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1.5px solid #ccc;
    outline-color: var(--secondary-color);
}

button {
    background-color: #ff4646;
    color: var(--secondary-color);
    padding: 10px;
    font-size: 12px;
    border: 0;
    margin-top: 20px

}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.menu-items li a{
    color: var(--secondary-color);
}