.title{
    font-family: sans-serif;
    color: violet; 
    background-color: black;
}
.container {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.image{
    display: block;
    width: 190px;
    height: 200px;
}
.image2{
    display: block;
    margin-top: 30%;
    width: 160px;
    height: 220px;
}
.image3{
    display: block;
    margin-top: 50%;
    width: 100%;
    height: 50%;
}
.image4{
    display: block;
    margin-top: 60%;
    width: 200px;
	height:200px;
	border-radius: 50%;
	object-fit: cover;
}

.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.text2{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.text3{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.text4{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: violet;
}
.container:hover .overlay{
    opacity: 1;
}
.overlayLeft1{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: violet;
}
.overlayLeft2{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: black;
}
.overlayLeft3{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: violet;
}
.container:hover .overlayLeft1, .container:hover .overlayLeft2, .container:hover .overlayLeft3{
    height: 100%;
    width: 100%;
} 

.overlayCross1{
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: black;
}
.overlayCross2{
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: violet;
}
.overlayCross3{
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: black;
}
.container:hover .overlayCross1, .container:hover .overlayCross2, .container:hover .overlayCross3 {
    margin-top: 30%;
    margin-left: 10%;
    height: 110%;
    width: 80%;
}

.overlayRight1{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: violet;
}
.overlayRight2{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: black;
}
.overlayRight3{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: violet;
}
.container:hover .overlayRight1, .container:hover .overlayRight2, .container:hover .overlayRight3{
    margin-top: 50%;
    height: 50%;
    width: 100%;
} 
.overlayBottom1{
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: black;
}
.overlayBottom2{
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: violet;
}
.overlayBottom3{
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color: black;
}
.container:hover .overlayBottom1, .container:hover .overlayBottom2, .container:hover .overlayBottom3{
    margin-top: 60%;
    width: 200px;
	height:200px;
	border-radius: 50%;
	object-fit: cover;
}